footer 
div.footer-class
    div.footer-logo
    div.footer-contacts
        h1 Контакти
        div.footer-p
            p Вулиця Богдана Гаврилишина, 24, Київ, 02000
            p 0445213356
            p pinkservice@officesupport.com