@import "mixin";
$body-color: #C62946;
$pink: #FFBAC7;
$dark: #6C0D0D;

$p-font-size: 32px;
$h2-font-size: 36px;

.header_logo_menu {
    @include flex-container(row, space-around, center);
    width: 60%;
}

nav {
    font-weight: 400;
    font-style: normal;
    flex-wrap: wrap;
}
.main-menu {
    a {
        text-decoration: none;
        margin: 15px;
        font-size: $p-font-size;
        @media (max-width: 1080px) {
            font-size: 26px;
        }
        @media (max-width: 900px) {
            font-size: 20px;
        }
    }
}
.logo-section {
    width: 30%;
    justify-content: center;
}
.logo {
    background-image: url("../img/logo1.png");
    background-repeat: no-repeat;
    height: 75px;
    cursor: pointer;
}
.my-application {
    text-decoration: none;
    font-size: 20px;
    color: $body-color;
    padding: 10px;
    background-color: $pink;
    border-radius: 200px;
}
.img-header {
    background-image: url("../img/people.png");
    height: 564px;
    text-align: center;
}
.img-text {
    color: $dark;
    font-size: $h2-font-size;
    font-weight: 500;
    padding: 110px;
    @media (max-width: 1080px) {
        font-size: 30px;
    }
    @media (max-width: 900px) {
        font-size: 25px;
    }
}