@mixin button-style($background-color, $font-size, $padding) {
    background-color: $background-color;
    color: white;
    border: none;
    border-radius: 8px;
    padding: $padding;
    font-size: $font-size;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: darken($background-color, 10%);
    }
}

@mixin form-input($background-color, $padding, $font-size) {
    background-color: $background-color;
    color: white;
    border: none;
    border-radius: 5px;
    padding: $padding;
    font-size: $font-size;

    &[type="file"] {
        background-color: transparent;
        padding: 0;
        display: none;
    }
}

@mixin flex-container($direction: row, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}